body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}


#lotion-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-bottom: 1px solid rgb(213, 213, 213);
  height: 10%;
  background-color: #a9d0c0;

}

#spacer{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: left;
  padding: 15px;
  align-items: center;
  height: 60%;

  
}
#spacer-div{
  height:100%;
  justify-content: center;
  align-items: center;
}

#spacer-div label:hover{
  background-color: #3e4d47;
  color: rgb(255, 255, 255);
}

#title{
  display:flex;
  flex: 1;
  font-size:36px;
  font-weight: bold;
  letter-spacing: 2px;
  justify-content:center;
}



#whole-page{
  height: 100vh;
}

#flex-container{
  display: flex;
  flex-direction: row;
  height: 90%;
}

.notes-flex{
  display: flex;
  flex-direction: column;
  width:25%;
  border-right: 1px solid rgb(179, 178, 178);
  height: 100%;
  overflow:auto;
  
}

#editor-flex{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width:100%;

}

#notes-title{
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(179, 178, 178);
  height:45px;
  align-items: center;
  
}

#notes-text{
  display: flex;
  justify-content:center;
  padding-left: 15px;
  font-weight: bold;
  font-size: 17px;
  font-family: "Lucida Console", "Courier New", monospace;
}


#add-notes-div{
  display:flex;
  flex:1;
  justify-content: right;
  
  height:45px;
  align-items: center;
  
}

#add-notes{
  display: flex;
  width:40%;
  height:100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  
}

.hide-notes{
  display: none;
}
#add-notes-div label:hover{
  background-color: #a9d0c0;
  color: rgb(0, 0, 0);
}

#notes{
  display:flex;
  flex-direction: column;
  border: 1px solid rgb(179, 178, 178);
  align-items: left;
  justify-content: top;
  margin-top: 7px;
  margin-left:7px;
  margin-right: 7px;
  padding: 7px;
  font-family: "Lucida Console", "Courier New", monospace;
  
  
}
#no-note-yet{
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  align-items: center;
  justify-content: center;
  padding-top:25px;
}
#select-note-or-create{
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  align-items: center;
  justify-content: center;
}

#notes-hover :hover{
  background-color: #a9d0c0;
  color:rgb(0, 0, 0);
  border-radius: 10%; 
  
  /* bruh fix */
  
}

#save-and-delete-labels-view{
  display:flex;
  justify-content: right;
  align-items: right;
  flex:1;
  height: 100%;
  width:100%;
}

#edit-icon{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}



#delete-icon{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}


#save-and-delete-labels-view label:hover{
  background-color: #ddd;
  color: rgb(0, 0, 0);
}



#editor-title{
  display: flex;
  border-bottom: 1px solid rgb(179, 178, 178);
  height: 12%; 
  flex-direction: row;
  align-items: center;
  
}



#input-title{
  width:80%;
  height:60%;
  font-size:x-large;
  padding-top: 20px;
  padding-left:15px;
  font-family: "Lucida Console", "Courier New", monospace;
  border: none;
}

#title-and-time{
  display: flex;
  flex-direction: column;
  width:80%;
  height:100%;
}

#time{
  width:30%;
  margin-left:15px;
  margin-bottom:15px;
  border:none;
  color: rgb(162, 162, 162);
  font-family: "Lucida Console", "Courier New", monospace;

}
#time-edit{
  width:30%;
  margin-left:15px;
  margin-bottom:8px;
  border:none;
  color: rgb(162, 162, 162);
  font-family: "Lucida Console", "Courier New", monospace;
}

#save-and-delete-labels{
  display:flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width:20%;
}

#save-icon{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

}



#save-and-delete-labels #delete-icon:hover{
  background-color: #E27D60;
  color: rgb(0, 0, 0);
}
#save-and-delete-labels #edit-icon:hover{
  background-color: #41B3A3;
  color: rgb(0, 0, 0);
}
#save-and-delete-labels #save-icon:hover{
  background-color: #41B3A3;
  color: rgb(0, 0, 0);
}

.quill{
  height:100%;
}

#single-note-title{
  height:25px;
  font-size: 20px;
}

#notes-date{
  height:15px;
  font-size: 14px;
}

#notes-content{
  height:60px;
}

#content-view{
  padding-left:15px;
  padding-right:15px;
  padding-top:12px;
  overflow: auto;
  width:100%;
  height:100%;
}